@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Mr+Dafoe&family=Square+Peg&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
    
}
body{
    background-color:  #24252A;
    
}
header {
    padding: 0;
    
}
.BGBtn{
    background-color: #cc6600;
}