@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&family=Raleway:wght@400;600;700;900&display=swap");
.Wrapper {
  padding-bottom: 0px;
  width: 100vw;
  /* height: 100vh; */
}
.Banner {
  width: 100%;
  height: calc(100vh - 72px);
  /* -------- */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.H1 {
  text-align: center;
  font-size: 30px;
}
/* .BannerBg {
  background-position: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  object-fit: cover;
  object-position: 10% 150%;
  opacity: 0.5;
  z-index: -1;
} */
.bgWrapper {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* @media screen and (max-width: 375px) {
    width: 100%;
  } */
  @media (max-width: 915px) {
    width: 65%;
  }
  @media (max-width: 600px) {
    width: 100%;
  }
}
.BannerBg {
  height: 93%;
  padding: 0;
  object-fit: cover;
  @media screen and (max-width: 600px) {
    width: 100%;
    /* opacity: 0.8; */
  }
}

.BannerTextWrapper {
  width: 27%;

  @media (max-width: 600px) {
    width: 37%;
    height: 20%;
    position: absolute;
    bottom: 20%;
    left: 5%;
    background: rgb(128, 128, 128, 0.5);
    border-radius: 10px;

    /* padding: 10px 30px; */
    /* box-sizing: border-box; */
  }
  @media (max-width: 920px) {
    width: 38%;
    padding: 15px;

    /* padding: 10px 30px; */
    /* box-sizing: border-box; */
  }
}

.Textcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 600px) {
    z-index: 10;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
.date {
  text-align: left;
  width: 79%;
  margin-bottom: 15px;
  width: 100%;
  @media (max-width: 600px) {
    color: white;
  }
}
.dateTitle {
  font-weight: 900;
  @media (max-width: 600px) {
    color: white;
  }
}
.BannerText {
  font-size: 60px;
  line-height: 90%;
  padding: 0;
  /* font-family: "Baskervville", serif; */
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: black;
  letter-spacing: 4px;
  text-align: center;
  @media (max-width: 768px) {
    font-size: 40px;
    /* font-weight: 600; */
  }
  @media (max-width: 600px) {
    font-size: 30px;
    color: white;
    text-align: left;
  }
}
.rightLanding {
  width: 26%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-bottom: 20px; */
  /* @media (max-width: 600px) {
    display: none;
  } */
  @media (max-width: 920px) {
    display: none;
  }
}
.rigthImg {
  width: 300px;
  height: 400px;
  object-fit: cover;
}
.igCredit {
  width: 68%;
  display: flex;
  align-items: center;
  margin-top: 20px;
  /* justify-content: space-evenly; */
}
.creditImg {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  padding: 0;
  margin-right: 15px;
}
.igName {
  padding: 0;
}

.ZoneWrap.aboutZone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
  /* background: #18181b; */
  color: black;
}
.ABMH1 {
  color: black;
}
.TextPart {
  width: 80%;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  height: auto;
}
.selfIntroWrap {
  width: 40%;
}
.seltIntroduction {
  font-size: 18px;
  margin-top: 20px;
}
.SocialLogos {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.LogoPicWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
}
.SCLogo {
  padding: 20px;
}
.Img {
  border-radius: 50%;
}
.navBtn {
  text-align: center;
  padding: 20px;
  font-family: "Montserrat", san-sarif;
  font-size: 15px;
  background-color: #f5f5f5;
  border-top: solid 1px black;
}
.BlogWrapper {
  width: 100%;
  height: fit-content;
  padding: 20px;
  /* background-color: #f5f5f5; */
  background-color: white;
}
.blogsWrap {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* --------------- Second section */
.editorPost {
  padding: 0 50px 0 50px;
  height: fit-content;
  @media (max-width: 600px) {
    margin-bottom: 20px;
  }
}
.editorTopic {
  font-size: 38px;
  font-weight: 900;
  color: black;
  font-family: "Raleway", sans-serif;
  @media (max-width: 600px) {
    font-size: 22px;
  }
}
.wonderP {
  padding: 1px 0 1px 10px;
  border-left: 5px solid #36454f;
  font-size: 12px;
}
