.footerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 80px;
  background-color: black;
  color: #cc6600;
  @media screen and (max-width: 425px) {
    padding: 0 15px 0 15px;
    justify-content: space-between;
  }
}
.leftWrap {
  display: flex;
}
.logowrap {
  border-right: solid white 4px;
}
h1 {
  color: white;
  padding-right: 25px;
  font-size: 25px;
  @media screen and (max-width: 425px) {
    font-size: 18px;
    padding-right: 20;
  }
}
.leftWrap {
  display: flex;
}
p {
  padding-top: 16px;
  font-size: 15px;
  @media screen and (max-width: 425px) {
    padding-top: 10px;
    font-size: 13px;
    line-height: 30px;
  }
}
img {
  padding-top: 15px;
  padding-right: 20px;
  @media screen and(max-width: 425px) {
    width: 35px;
    height: 35px;
    padding-right: 10px;
  }
}
